<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

<title>MyRecipesApplication</title>
</head>
<body>
	<div sec:authorize="isAuthenticated()">
		Authenticated as <span sec:authentication="name">
		</span>
	</div>
	<div style="text-align: center" class="container">
		<hr>

		Welcome on My Page! <br> <a th:href="@{/user/showNewUserForm}">New
			User Registration</a> <br> <a th:href="@{/user/userList}">Registered
			User List</a>
	</div>
	<hr>
	<form th:action="@{/logout}" method="POST">
	<button type="submit">Logout</button>
	</form>
	
</body>
</html>