<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<div class="form-group">
			<form action="#" th:action="@{/recipe/processNewRecipe}" id="myForm"
				th:object="${recipe}" th:method="POST">
				<input type="text" th:field=*{name}> <input type="submit"
					value="Submit" class="btn btn-info col-2"> <br>
				<textarea rows="20" cols="80" th:field=*{description} form="myForm"
					class="form-control-file"></textarea>
		</form>
		</div>
	</div>
</body>
</html>