<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
<style>
    .error {
        color: red;
    }
</style>
<title>Insert title here</title>
</head>
<body>

	<div style="float: right" class="container">

		<h3>New User Registration</h3>
		<br>
		
		<form action="#" th:action="@{/processRegister}" th:object="${user}"
			method="POST">
			
			<label type="text" >Username</label>
			<b>
			<p th:if="${#fields.hasErrors('username')}" th:errorclass="error"
					th:errors="*{username}" />
			</b>
				<input type="text" th:field="*{username}"
					class="form-control mb-4 col-4">
			<div>
			
			<label type="text" >Password</label>
			<b>
			<p th:if="${#fields.hasErrors('password')}" th:errorclass="error"
					th:errors="*{password}" />
					</b>
			<input type="password" th:field="*{password}" 
				class="form-control mb-4 col-4"> 
			</div>
			<div>
			<label type="text" >First Name</label>
			<b>
			<p th:if="${#fields.hasErrors('firstName')}" th:errorclass="error"
					th:errors="*{firstName}" />
					</b>
				<input type="text" th:field="*{firstName}" 
				class="form-control mb-4 col-4"> 
				
			</div>
			<div>
			<label type="text" >Last Name</label>
			<b>
			<p th:if="${#fields.hasErrors('lastName')}" th:errorclass="error"
					th:errors="*{lastName}" />
				<input type="text" th:field="*{lastName}" 
				class="form-control mb-4 col-4">
				</b>
			</div>
			<button type="submit" class="btn btn-info col-2">Save</button>
			<a th:href="@{/}" class="btn btn-danger col-2 ">Back</a>
		</form>
		<br>
	</div>

</body>
</html>