<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

<title>Insert title here</title>
</head>
<body>


	<div style="float: right" class="container">

		<h3>Update User</h3>
		<br>
		<form action="#" th:action="@{/user/updateUser}" th:object="${user}"
			method="POST">
			<input type="hidden" th:field="*{password}">
			<input type="hidden" th:field="*{id}">
			<div sec:authorize="hasAuthority('ADMIN')"> 
			<label type="text" >Username</label>
				<input typ="text" th:field="*{username}" placeholder="First Name"
				class="form-control mb-4 col-4"> 
				</div>
				<label type="text" >First Name</label>
				<input typ="text" th:field="*{firstName}" placeholder="First Name"
				class="form-control mb-4 col-4"> 
				<label type="text" >Last Name</label>
				<input typ="text" th:field="*{lastName}" placeholder="Last Name"
				class="form-control mb-4 col-4">
				
				<div sec:authorize="hasAuthority('ADMIN')"> 
		 	<div class="form-group row">
				<label class="col-form-label col-1">Assigned Roles</label>
				<div class="col-8">
					<th:block th:each="role : ${roles}">
						<input type="radio" name="roles" th:field="*{roles}"
							th:value="${role.id}" th:text=${role.name} class= "m-2"/>
					</th:block>
				</div>
</div>
		</div>
		
			<button type="submit" class="btn btn-info col-2">Save</button>
			<a th:href="@{/user/userList}" class="btn btn-danger col-2 ">Back</a>
		</form>
		<br>
	</div>

</body>
</html>